/* Must contain a media query */
/* Must be second after small.css */
:root {
  --color-primary: #1F2933;
  --color-primary-dark:rgb(15, 21, 26);
  --color-primary-light:#d3d3d3;
  --color-secondary: #3B82F6;
  --color-accent: #F59E0B;
  --color-neutral: #F3F4F6;
}

@media only screen and (min-width: 38rem) {
    
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    nav > ol {
        display: flex;
        background-color: var(--color-primary);
    }

    .main {
        display: grid;
        grid-template-columns: 7fr 3fr;
        gap: 2rem;
    }
    .main > :nth-child(1) {
        grid-column: 1 / -1;
    }
    .main > :nth-child(2) {
        grid-column: 1 / 2;
    }
    .main > :nth-child(3) {
        grid-column: 2 / 3;
    }
    .main > :nth-child(4) {
        grid-column: 1 / -1;
    }

    picture.picture-hero .hero-image-small{
        max-height: 280px;
    }

    .home-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto 1fr;
        gap: 1rem;
    }

    .home-wrapper > h1 {
        grid-column: 1 / -1
    }
    .home-wrapper > :nth-child(2){
        grid-column: 1 / 3;
        height: -webkit-fill-available;
    }
    .home-wrapper > :nth-child(2) > div {
        height: inherit;
    }
    .home-wrapper > :nth-child(3){
        grid-column: 3 / 4;
        height: -webkit-fill-available;
    }
    .home-wrapper > :nth-child(3) > div {
        height: inherit;
    }
    .home-wrapper > :nth-child(4){
        grid-column: 4 / 4;
        height: -webkit-fill-available;
    }
    .home-wrapper > :nth-child(4) > div {
        height: inherit;
    }
    .home-wrapper > :nth-child(5){
        grid-column: 1 / -1
    }

    .home-wrapper > section > div {
        height: inherit;
    }

    #business-spotlight {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto 1fr;  
        gap: 0px;
    }
}