/* There is no horizontal scrolling in views between 320px to 1200px wide. */
/* Text does not touch the edge of the screen causing a visual tangent error. */
/* Any text overlays on images, other elements, or other text/content is legible and does not overflow in smaller views. */
/* That there is no twitching in the navigation on hover. */
/* Images are not squished nor distorted as the page is resized. */
/* Images are not oversized causing pixelation. */
/* Use your own color scheme and typography choices. */
/* Use the Google Fonts API to select one font family to use on this page. */
/* Your design cannot just be a simple one column layout (default flow layout) in all views in order to warrant full credit consideration. */

/* :root {
  --color-primary: #1F2933;
  --color-primary-dark: rgb(15, 21, 26);
  --color-primary-light:#d3d3d3;
  --color-secondary: #3B82F6;
  --color-accent: #F59E0B;
  --color-neutral: #F3F4F6;
} */

a {
    text-decoration: none;
    color: var(--color-neutral)
}

header > div {
    padding: .7rem .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

nav > ol {
    padding: 0;
    margin: 0;
}

nav > ol > li {
    list-style: none;
    list-style-type: none;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    padding: 1.2rem 1.2rem;
}

#ham-btn {
    background: none;
    border: none;   
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-accent);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630"
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0rem .7rem;
    gap: 2rem;
}

.styled-block-header {
    background-color: var(--color-primary);
    color: var(--color-neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
}

.styled-block-content-wrapper {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .4rem;
    margin: 0px;
}

.filter-buttons-wrapper {
    display: flex;
    justify-content: space-around;
    margin: .7rem;
}

.filter-buttons {
    background-color: var(--color-primary-light);
    border: solid 1px var(--color-primary);
    border-radius: .4rem;
    padding: .2rem;
}

.styled-block-content {
    margin: .4rem;
}

.styled-block-content-wrapper > picture > img {
    height: 200px;
    width: auto;
    border: solid 1px var(--color-primary);
    border-radius: .4rem;
    margin: 1.2rem 0;
    padding: .5rem 0;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    list-style: none;
    list-style-type: none;
    padding: 0px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc dashed 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

.directory-title{
    text-align: center;
}

.directory-btn-wrapper-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.directory-btn-wrapper {
    border: solid 2px var(--color-primary);
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.directory-btn-wrapper:hover {
    background-color: var(--color-accent);
    cursor: pointer;
}

.business-image {
    height: 5rem;
    width: auto;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--color-accent);
    margin: 1.5rem 1.5rem;
    padding: 1rem;
    width: auto;
    box-shadow: 5px 5px 5px 5px var(--color-primary);
}

.card p, .card h2 {
    white-space: normal;
    word-break: normal;
    overflow-wrap: anywhere;
    margin: .4rem 0rem;
    padding: 0rem;
    text-align: center;
}

.card img {
    max-width: 75%;
    height: auto;
}

.card:nth-child(6) > img{
    background: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-active {
    background-color: var(--color-accent);
}

.list {
	display: flex;
	flex-direction: column;
    border: solid 1px var(--color-accent);
    margin: 2rem;
}

.list > section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    box-shadow: none;
    border: none;
}

.list > section > * {
    margin: 0 1rem;
}

.list > section img {
    display: none;
}

.list > section > p:nth-of-type(1) {
    display: none;
}

.list > section h3 {
    font-size: 1rem;
}

.list > section:nth-child(even) {
    background-color: #bbb;
}


.list-card {
    box-shadow: none;
    border: none;
}

.hero-wrapper {
    position: relative;
}

picture.picture-hero .hero-image-small {
  max-height: 110px;
  object-fit: cover;
  display: block;
  width: 100%;
}

#cta {
    background-color: var(--color-accent);
    border: solid 1px var(--color-neutral);
    padding: .5rem 1.2rem;
    border-radius: 7px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#cta:hover {
    background-color: var(--color-primary-dark);
    border: solid 1px var(--color-primary-light);
    color: var(--color-primary-light)
}

.main-home > section {
    margin: 1rem 0;
}

.bigger {
    font-size: 1.7rem;
}

.home-wrapper {
    margin: 0rem .5rem;
    display: flex;
    flex-direction: column;
}

.home-wrapper > section {
    display: flex;
    flex-direction: column;
}

.home-wrapper > section > div {
    margin-bottom: 2rem
}

.home-card {
    margin: 0rem 1rem;
}

#business-spotlight {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tall {
    height: 10rem
}

#currentWeather, #three-day-forecast {
    display: flex;
    flex-direction: column;
}