
@media only screen and (min-width: 38rem) {
    
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    nav > ol {
        display: flex;
        background-color: var(--color-primary);
    }

    .main {
        display: grid;
        grid-template-columns: 7fr 3fr;
        gap: 2rem;
    }
    .main > :nth-child(1) {
        grid-column: 1 / -1;
    }
    .main > :nth-child(2) {
        grid-column: 1 / 2;
    }
    .main > :nth-child(3) {
        grid-column: 2 / 3;
    }
    .main > :nth-child(4) {
        grid-column: 1 / -1;
    }
}