:root {
    --background-card: #B9B9CC;
    --border-card: #7A7AAB;
    --name: #4D4C96;
    --primary: #000;
}

h1 {
    color: var(--name);
    text-align: center;
}

main > div {
    line-height: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .2rem;
}

.card {
    background-color: var(--background-card);
    border: solid 1px var(--border-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

h2 {
    color: var(--name);
    padding-top: 1rem;
    padding-bottom: .3rem;
}

.pob {
    margin-bottom: 1.7rem;
}

img {
    width: 200px;
    height: auto;
    box-shadow: 0px 0px 20px 0px;
}